/* For Table */
/* td,th{
    border: 2px solid black;
} */

/* CSS Selector */
/* <style>
/* Class Selector */
/* .red{
  background-color: red;
} */
/* ID Selector */
/* #green{
  background-color: green;
} */
/* Child Selector */
/* div > p{
  background-color: blue;
  color: red;
} */
/* Descendant Selector  iska meaning yeh hae kae span kae andar kahi par bhi p ho usko css ki property apply hogi */
/* span p{ */
  /* background-color: yellow; */
/* } */
/* Universal Selector */
/* *{
  padding: 0;
  margin: 0;
} */
/* Pseudo Selector */
/* a:visited{
  color: red;
}
a:linked{
  color: blue;
}
a:hover{
  background-color: green; */
/* } */
/* a:active{ */
  /* background-color: aqua; */
/* } */
/* </style> */ 

/* Font Practice */
/* <style>
.one{
 text-transform: capitalize;
 text-decoration: underline;
 text-decoration-color:red;
 text-decoration-style:dashed;
}
.two{
 text-transform: capitalize;
 text-decoration: underline;
 text-decoration-color:red;
 text-decoration-style:dotted;
}
.three{
 text-transform: capitalize;
 text-decoration: underline;
 text-decoration-color:red;
 text-decoration-style:double;
}
.four{
 text-transform: capitalize;
 text-decoration: underline;
 text-decoration-color:red;
 text-decoration-style:solid;
}
.five{
 text-transform: capitalize;
 text-decoration: underline;
 text-decoration-color:red;
 text-decoration-style:wavy;
}
p{
 border: 2px solid blue;
 width: 170px;
 /* word-break: break-all; */
 /* text-overflow: ellipsis; */
 /* overflow: hidden; */
/* } */
/* </style> */

/* <style>
    h1{
      color: darkred;
    }
    .list1{
      color: blue;
    }
    .list2{
      color: rgb(3, 104, 170);
    }
    .list3{
      color: rgba(103, 204, 70, 0.288)
    }
    .list4{
      color: #710606;
    }
    .list5{
      color: hsl(235, 100%, 50%);
    }
  </style> */