/* For Table */
/* td,th{
    border: 2px solid black;
} */

/* CSS Selector */
/* <style>
/* Class Selector */
/* .red{
  background-color: red;
} */
/* ID Selector */
/* #green{
  background-color: green;
} */
/* Child Selector */
/* div > p{
  background-color: blue;
  color: red;
} */
/* Descendant Selector  iska meaning yeh hae kae span kae andar kahi par bhi p ho usko css ki property apply hogi */
/* span p{ */
  /* background-color: yellow; */
/* } */
/* Universal Selector */
/* *{
  padding: 0;
  margin: 0;
} */
/* Pseudo Selector */
/* a:visited{
  color: red;
}
a:linked{
  color: blue;
}
a:hover{
  background-color: green; */
/* } */
/* a:active{ */
  /* background-color: aqua; */
/* } */
/* </style> */ 